<nav>
    <a href="/getfit/workouts">
        <button class="w3-button w3-red">Home</button>
    </a>
    <a href="/getfit/new">
        <button class="w3-button w3-green">New</button>
    </a>
    <button class="w3-button w3-black">Logout</button>
</nav>