<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>Get Fit</title>
</head>
<style>
    body {
        margin: auto;
        width: 65%;
        background-image: url(https://imgur.com/7jBki7h.png);
        background-attachment:fixed;
    }
    div {
        opacity: 60%;
        border-radius: 5px;
        text-align: center;
    }
    .w3-button {
        border-radius: 10px;
        opacity: 80%;
    }
    a {
        text-decoration: none;
    }
     button {
        margin: 5px;
        opacity: 100%;
    }
    .one {
        font-size: xx-large;
    }
    p {
        font-size: large;
    }
</style>
<body><br><br><br>
    <table style="width: 100%;">
        <tr>
            <th colspan="2"><div class="w3-panel w3-black w3-card-4"><p class="one">GET FIT</p></div></th>
        </tr>
        <tr>
            <td colspan="1"><div class="w3-panel w3-black w3-card-4"><p>Login </p></div></td>
            <td colspan="1"><div class="w3-panel w3-black w3-card-4"><p>SignUp</p></div></td>
        </tr>
    </table>
  </div>
</body>
</html>