<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <title>GetFit</title>
</head>
<style>
    div {
        align-items: center;
        width: 50%;
        margin: auto;
        border-radius: 5px;
        opacity: 70%;
    }
    p {
        font-size: x-large;
        text-align: center;
    }
section {
    text-align: right;
    width: 95%;
    margin: 10px;
    
}
button {
    border-radius: 10px;
}
a {
    text-decoration: none;
}
th {
    width: 200px;
}
body {
    background-image: url(https://imgur.com/9Ap4hAz.png);
    position: relative;

}
.h1 {
    font-size: xx-large;
    font-weight: bold; 
}

</style>
<body>
    <section><a href="/getfit/new"><button class="w3-button w3-green">New</button></a><button class="w3-button w3-black">logIn</button></section>
    <h1>
        <div class="w3-panel w3-black w3-card-4">
        <p class="h1">Select Your Workout</p>
      </div>
    </h1>
    <table style="width: 100%">
        <tr>
            <th>
                <div class="w3-panel w3-black w3-card-4">
                <p>
                    <a href="/getfit/back">Back</a>
                </p>
                </div>
            </th>
            <th>
                <div class="w3-panel w3-black w3-card-4">
                <p>
                    <a href="/getfit/chest">Chest</a>
                </p>
                </div>
            </th>
        </tr>
        <tr>
            <th>
                <div class="w3-panel w3-black w3-card-4">
                <p>
                    <a href="/getfit/shoulders">Shoulders</a>
                </p>
                </div>
            </th>
            <th>
                <div class="w3-panel w3-yellow w3-card-4">
                <p>
                    <a href="/getfit/arms">Arms</a>
                </p>
                </div>
            </th>
        </tr>
        <tr>
            <th>
                <div class="w3-panel w3-yellow w3-card-4">
                <p>
                    <a href="/getfit/legs">Legs</a>
                </p>
                </div>
            </th>
            <th>
                <div class="w3-panel w3-yellow w3-card-4">
                <p>
                    <a href="/getfit/functional">Full Body</a>
                </p>
                </div>
            </th>
        </tr>
    </table>
   
</body>
</html>